.miniBox{
    h1{
        font-size: 25px;
        display: flex;
        // justify-content: space-between;
    }

    .text{
        font-size: 30px;
        // font-weight: 400;
        display: flex;
        justify-content: center;
        color:azure;
    }
}